
{%extends 'list/layout.html'%}
{%load static%}
{%block body%}
<div id="newtask">
    <form>
        <input class="form-control" type="text" id="text"/><br/>
        <button type="submit"class="btn btn-primary" onclick="add(event)"data-url="{%url 'add'%}">Add task</button>
    </form>
</div>
<div id="lists">
    <ul>
    {% if lists %}
    {%for list in lists%}
    <li>
        <div class="list">
            <span>{{list.text}}</span>
            <span class="time">{{list.timestamp}}</span><br/>
            <button class="btn btn-primary mark">Mark complete</button>
            <button class="btn btn-primary delete">Delete</button>
          </div>
    </li>
    {%endfor%}   
    {% else %}
    <li>Empty List</li>
    {% endif %}
   </ul>
</div>
<script src="{%static 'list/index.js'%}"></script>
{%endblock%}