.navbar{
    padding-left: 20px;
}
#newtask{
    margin:30px
}
#lists ul {
    list-style-type: none;   
    width: 70%;
    margin-left: auto;
    margin-right: auto; 
     
}
.list{
    margin:20px;
    padding: 10px;
    border:1px solid rgb(57, 57, 252)
}
.mark{
   margin-left:0;
   margin-top:10px;
}
.time{
    float:right;
    color:gray
}
.delete{
   margin-left:40px;
   margin-top:10px;
}