.navbar{
    padding-left: 20px;
}
#newtask{
    margin:30px
}
#lists ul {
    list-style-type: none;   
    margin-left: auto;
    width: 70%;
    margin-right: auto; 
}
.list{
    animation-name: hide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    height: 10%;
    margin-bottom:20px;
    background-color: lightblue;
    padding: 10px;
    border:1px solid rgb(57, 57, 252);
    border-radius: 10px;
}
.mark{
   margin-left:0;
   margin-top:10px;
}
.time{
    float:right;
    color:gray
}
.delete{
   margin-left:40px;
   margin-top:10px;
}
.crossed-out {
    text-decoration: line-through;
    color: gray;
}
@keyframes
hide{
    0%{
        opacity:1;
        margin-bottom:20px;
        padding:10px;
        height: 10%;
    }
    75%{
        opacity: 0;
        margin-bottom:20px;
        padding:10px;
        height: 10%;
    }
    100%{
        opacity: 0;
        margin-bottom:-70px;
        padding:0;
        height: 0;
    }
}

